name: Unittest for JavaScript
on:
  push:
    paths:
      - 'javascript/**'
  pull_request:
    paths:
      - 'javascript/**'
permissions:
  contents: read

jobs:
  javascript-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [20, 22, 24]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install --legacy-peer-deps
        working-directory: ./javascript
      - name: Create symlink
        run: npm link
        working-directory: ./javascript
      - name: Build package
        run: npm run build --if-present
        working-directory: ./javascript
      - name: Run testcases
        run: npm test
        working-directory: ./javascript
