name: Unittest for NodeJS
on:
  push:
    paths:
      - 'javascript/**'
  pull_request:
    paths:
      - 'javascript/**'
permissions:
  contents: read

jobs:
  nodejs-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [16, 18, 20]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@55d479fb1c5bcad5a4f9099a5d9f37c8857b2845 # v2.4.1
        with:
          egress-policy: audit

      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@7c12f8017d5436eb855f1ed4399f037a36fbd9e8 # v2.5.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install
        working-directory: ./javascript
      - name: Create symlink
        run: npm link
        working-directory: ./javascript
      - name: Build package
        run: npm run build --if-present
        working-directory: ./javascript
      - name: Run testcases
        run: npm test
        working-directory: ./javascript
