name: Unittest for NodeJS
on:
  push:
    paths:
      - 'javascript/**'
  pull_request:
    paths:
      - 'javascript/**'
permissions:
  contents: read

jobs:
  nodejs-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [18, 20]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
        with:
          egress-policy: audit

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install
        working-directory: ./javascript
      - name: Create symlink
        run: npm link
        working-directory: ./javascript
      - name: Build package
        run: npm run build --if-present
        working-directory: ./javascript
      - name: Run testcases
        run: npm test
        working-directory: ./javascript
