name: Unittest for NodeJS
on:
  push:
    paths:
      - 'javascript/**'
  pull_request:
    paths:
      - 'javascript/**'
permissions:
  contents: read

jobs:
  nodejs-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        node-version: [18, 20]

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@17d0e2bd7d51742c71671bd19fa12bdc9d40a3d6 # v2.8.1
        with:
          egress-policy: audit

      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6
      - name: Setup Node ${{ matrix.node-version }}
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install Dependencies
        run: npm install
        working-directory: ./javascript
      - name: Create symlink
        run: npm link
        working-directory: ./javascript
      - name: Build package
        run: npm run build --if-present
        working-directory: ./javascript
      - name: Run testcases
        run: npm test
        working-directory: ./javascript
