name: Unittest for Python
on:
  push:
    paths-ignore:
      - 'javascript/**'
      - 'java/**'
  pull_request:
    paths-ignore:
      - 'javascript/**'
      - 'java/**'
permissions:
  contents: read

jobs:
  python-unittest:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9, '3.10']
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f086349bfa2bd1361f7909c78558e816508cdc10 # v2.8.0
        with:
          egress-policy: audit

      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Setup python ${{ matrix.python-version }}
        uses: actions/setup-python@82c7e631bb3cdc910f68e0081d67478d79c6982d # v5.1.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          python -m pip install --upgrade pip
          python -m pip install ".[dev]"
      - name: Run unittest
        run: pytest ./tests
      - name: Install Jax
        if:  ${{ matrix.os != 'windows-latest' && matrix.python-version >= '3.9' }}
        run: pip install ".[jaxcpu]"
      - name: Run unittest with Jax
        if:  ${{ matrix.os != 'windows-latest' && matrix.python-version >= '3.9' }}
        run: pytest ./scripts/tests
