name: Style Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: '3.12'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
          pip install ".[jaxcpu]"
      - name: Run isort
        run: |
          isort --diff --check .
      - name: Run yapf
        run: |
          yapf --diff --recursive budoux tests scripts
      - name: Run mypy
        run: |
          mypy budoux tests scripts
      - name: Run flake8
        if: ${{ always() }}
        uses: suo/flake8-github-action@3e87882219642e01aa8a6bbd03b4b0adb8542c2a
        with:
          checkName: python-style-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  typescript-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: '20'
      - run: npm install --legacy-peer-deps
        working-directory: ./javascript
      - run: npm run lint
        working-directory: ./javascript
  java-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          java-version: '21'
          distribution: 'temurin'
      - name: Google Java Format
        uses: axel-op/googlejavaformat-action@dbff853fb823671ec5781365233bf86543b13215
        with:
          args: "--replace"
          skip-commit: true
      - name: Print diffs
        run: git --no-pager diff --exit-code
  markdown-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: markdownlint
        uses: nosborn/github-action-markdown-cli@508d6cefd8f0cc99eab5d2d4685b1d5f470042c1
        with:
          files: '**/*.md'
          config_file: .markdownlint.yaml
