name: Style Check
on: [push, pull_request]
permissions:
  contents: read
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-python@0b93645e9fea7318ecaed2b359559ac225c90a2b # v5.3.0
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
          pip install ".[jaxcpu]"
      - name: Run isort
        run: |
          isort --diff --check .
      - name: Run yapf
        run: |
          yapf --diff --recursive budoux tests scripts
      - name: Run mypy
        run: |
          mypy budoux tests scripts
      - name: Run flake8
        if: ${{ always() }}
        uses: suo/flake8-github-action@3e87882219642e01aa8a6bbd03b4b0adb8542c2a
        with:
          checkName: python-style-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  typescript-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4.1.0
        with:
          node-version: '20'
      - run: npm install
        working-directory: ./javascript
      - run: npm run lint
        working-directory: ./javascript
  java-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions/setup-java@8df1039502a15bceb9433410b1a100fbe190c53b # v4.5.0
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Google Java Format
        uses: axel-op/googlejavaformat-action@dbff853fb823671ec5781365233bf86543b13215
        with:
          args: "--replace"
          skip-commit: true
      - name: Print diffs
        run: git --no-pager diff --exit-code
  markdown-style-check:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@0080882f6c36860b6ba35c610c98ce87d4e2f26f # v2.10.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: markdownlint
        uses: nosborn/github-action-markdown-cli@9b5e871c11cc0649c5ac2526af22e23525fa344d
        with:
          files: '**/*.md'
          config_file: .markdownlint.yaml
