name: Style Check
on: [push, pull_request]
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install ".[dev]"
      - name: Run isort
        run: |
          isort --diff --check .
      - name: Run yapf
        run: |
          yapf --diff --recursive budoux tests scripts
      - name: Run mypy
        run: |
          mypy budoux tests scripts
      - name: Run flake8
        if: ${{ always() }}
        uses: suo/flake8-github-action@3e87882219642e01aa8a6bbd03b4b0adb8542c2a
        with:
          checkName: python-style-check
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  typescript-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
        working-directory: ./javascript
      - run: npm run lint
        working-directory: ./javascript
  markdown-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: markdownlint
        uses: nosborn/github-action-markdown-cli@018fc8b964d4d364519e7cbcda29b6b9bf3f0ba3
        with:
          files: '**/*.md'
          config_file: .markdownlint.yaml
