name: Style Check
on: [push, pull_request]
jobs:
  python-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'
      - run: python -m pip install --upgrade yapf toml
      - run: yapf --diff --recursive budoux tests scripts
  typescript-style-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - run: npm install
        working-directory: ./javascript
      - run: npm run lint
        working-directory: ./javascript
